@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
}

header{
    background-color: #FF6600;
    padding: 30px;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}

a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: "Lato", sans-serif;
    
    &:hover {
        color: black;
        transition: 0.7s;
    }
}

.profile-icon:hover{
    filter: invert();
    cursor: pointer;
    transition: 0.4s;
}

.button-new-photo{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.button-new-photo a{
    border: none;
    background-color: #9966CC;
    color: white;
    width: 250px;
    cursor: pointer;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    border-radius: 10px;
}

.artigos-fotografia{
    padding: 20px;
    margin: 20px;
}

.div-tecnicas-fotografia h2{
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

.div-tecnicas-fotografia .link-post-artigos{
    border: none;
    background-color: #FF6600;
    color: white;
    width: 250px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    border-radius: 10px;
}

.div-historia-fotografia h2{
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

.div-historia-fotografia .link-post-artigos{
    border: none;
    background-color: #FF6600;
    color: white;
    width: 250px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    border-radius: 10px;
}

.card-artigo {
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin: 20px 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    max-width: 1000px;
    min-height: 150px;
}

.imagem-artigo {
    width: 30%;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    border-right: 1px solid #ddd;
}

.conteudo-artigo {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteudo-artigo h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.conteudo-artigo p {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 1.5;
}

.botao-ler {
    align-self: flex-end;
    background-color: #ffc10769;
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}

.botao-ler:hover {
    background-color: #fdd85d;
    transition: 0.3s;
}
