@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sigmar&display=swap');


:root {
    --primary-color: #FF6600;
    --secondary-color: #9966CC;
    --background-light: #f0f0f3;
    --text-dark: #333333;
    --text-light: #ffffff;
    --shadow-light: #ffffff;
    --shadow-dark: #cecece;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    color: var(--text-dark);
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: var(--primary-color);
    padding: 15px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-header {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.logo-link {
    display: flex;
    align-items: center;
    text-transform: none;
    font-size: 20px;
    font-weight: 700;
}

.site-logo {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    border-radius: 50%;
}

header a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-light);
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
}

header a:hover {
    color: var(--text-dark);
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.4s;
}

.main-content a{
    color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.profile-icon {
    width: 30px;
    height: 30px;
}

.profile-icon:hover {
    fill: var(--text-dark);
    cursor: pointer;
    filter: none;
    transition: 0.4s;
}

.main-content {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    padding-top: 20px;
}

.photo-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.photo-title {
    font-size: 18px;
    color: white;
    background-color: #333;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.photo-img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 900px) {
    
    .nav-header a {
        font-size: 18px;
    }
    
    .photo-gallery {
        grid-template-columns: repeat(3, 1fr); 
        gap: 15px;
    }

    .main-content {
        padding: 0 15px;
    }
}

@media (max-width: 600px) {
    
    header {
        padding: 15px 5px;
    }

    ul {
        justify-content: space-between; 
        flex-wrap: wrap; 
        row-gap: 5px; 
    }

    .nav-header a {
        font-size: 12px;
    }
    
    .nav-header li {
        margin: 0 2px;
    }

    .profile-icon {
        width: 30px;
        height: 30px;
    }
    
    .main-content {
        padding: 0 10px;
    }

    .photo-gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .photo-title {
        font-size: 14px;
        padding: 8px;
    }
    
    .autor-link {
        font-size: 12px;
        padding: 5px;
    }
}