@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sigmar&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
}

header{
    background-color: #FF6600;
    padding: 30px;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: "Lato", sans-serif;

    &:hover {
        color: black;
        transition: 0.4s;
    }
}

.profile-icon:hover{
    filter: invert();
    cursor: pointer;
    transition: 0.4s;
}

.button-new-photo{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.button-new-photo a{
    border: none;
    background-color: #9966CC;
    color: white;
    width: 250px;
    cursor: pointer;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    border-radius: 10px;
}

hr{
    width: 400px;
    height: 2px;
    background-color: black;
    border: none;
}

h2{
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    margin-left: 10px;
}

.div-home-photo{
    margin-top: 60px;
}

.div-images{
    display: flex;
    margin-top: 20px;
}

.div-images img{
    padding: 10px;
    height: 160px;
}

.seta-direita-icon:hover{
    cursor: pointer;
}

.seta-esquerda-icon:hover{
    cursor: pointer;
}

