@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sigmar&display=swap');


:root {
    --primary-color: #FF6600;
    --secondary-color: #9966CC;
    --background-light: #f0f0f3;
    --text-dark: #333333;
    --text-light: #ffffff;
    --shadow-light: #ffffff;
    --shadow-dark: #cecece;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/assets/Fundo\ \(3\).png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: var(--primary-color);
    padding: 15px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-header {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.logo-link {
    display: flex;
    align-items: center;
    text-transform: none;
    font-size: 20px;
    font-weight: 700;
}

.site-logo {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    border-radius: 50%;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-light);
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
}

a:hover {
    color: var(--text-dark);
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.4s;
}

.profile-icon {
    width: 30px;
    height: 30px;
}

.profile-icon:hover {
    fill: var(--text-dark);
    cursor: pointer;
    filter: none;
    transition: 0.4s;
}

.button-new-photo {
    display: flex;
    justify-content: flex-end;
    padding: 30px 40px;
}

.button-new-photo a {
    background-color: var(--secondary-color);
    color: var(--text-light);
    width: 200px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 12px;
    text-transform: none;
    font-weight: 600;
    gap: 8px;
}

.plus-seta {
    fill: white;
}

.main-home {
    max-width: 1200px;
    margin: 0 auto;
}

hr {
    width: 100%;
    height: 1px;
    background-color: var(--shadow-dark);
    border: none;
    margin-top: 5px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    text-transform: none;
    font-weight: 600;
    margin-left: 10px;
    font-size: 20px;
    color: var(--primary-color);
}

.div-home-photo {
    margin-top: 40px;
    padding: 0 40px;
}

.div-images {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 0 40px;
}

#container-curtidas, #container-salvas {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 0;
    flex-grow: 1;
    margin: 0;
}

.div-images img {
    min-width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.div-images img:hover {
    transform: translateY(-3px);
}

.div-images a {
    text-transform: none;
    font-size: initial;
    padding: 0;
}

@media (max-width: 768px) {

    .div-home-photo, .div-images {
        padding: 0 10px;
    }

    .button-new-photo {
        justify-content: center;
        padding: 20px 10px;
    }

    .button-new-photo a {
        width: 100%;
        max-width: 200px;
    }

    a {
        font-size: 14px;
        padding: 5px;
    }

    .div-images img {
        min-width: 140px;
        height: 140px;
    }
}