@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  background: linear-gradient(#ff7f23c3, #fe6a0050) no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-height: 100svh;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  font-family: "Sora", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 35px;
  margin: 30px;
}
  
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-family: 'Lato', sans-serif;
}
  
input, select, textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: 'Abel', sans-serif;
}
  
button {
  background-color: #ff6600;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
  
button:hover {
  background-color: #e05500;
}

input[type='file'] {
  padding: 8px;
  font-size: 20px;
}

.label-arquivo {
  display: inline-block;
  padding: 12px 24px;
  background-color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s;
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  border: 1px solid rgb(146, 145, 145);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.label-arquivo:hover {        
  opacity: 0.5;
  color: black;
}

.label-arquivo:active {
  transform: scale(0.99);
}
