@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sigmar&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
}

header{
    background-color: #FF6600;
    padding: 30px;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

a{

    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: "Lato", sans-serif;

    &:hover {
        color: black;
        transition: 0.4s;
    }
}

.profile-icon:hover{
    filter: invert();
    cursor: pointer;
    transition: 0.4s;
}

.button-new-photo{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.button-new-photo a{
    border: none;
    background-color: #9966CC;
    color: white;
    width: 250px;
    cursor: pointer;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    border-radius: 10px;
}

.main-form-problemas{
    margin: 0 auto;
    padding: 30px;
    justify-content: center;
    max-width: 550px;
}

.form-problemas{
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(251, 251, 251);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

h2 {
    font-family: "Lexend", sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
    font-size: 35px;
    margin: 40px;
    letter-spacing: 2px;
}

.form-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 7px;
    gap: 10px;
}

.form-div label{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.form-div input {
    font-size: 15px;
    outline: none;
    padding: 15px;
    border-radius: 10px;
}

.div-button-problemas {
    display: flex;
    justify-content: center;
}

.button-problemas {
    width: 200px;
    margin: 30px;
    padding: 15px;
    border: none;
    font-size: 15px;
    border-radius: 20px;
    color: #f5f5f5;
    background-color: #FF6600;
    font-family: "Lexend", sans-serif;
    text-transform: uppercase;
    cursor: pointer;

    &:hover{
        transition: 0.2s;
        color: black;
    }
}