@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sigmar&display=swap');


:root {
    --primary-color: #FF6600;
    --secondary-color: #9966CC;
    --background-light: #f0f0f3;
    --text-dark: #333333;
    --text-light: #ffffff;
    --shadow-light: #ffffff;
    --shadow-dark: #cecece;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    color: var(--text-dark);
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: var(--primary-color);
    padding: 15px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-header {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.logo-link {
    display: flex;
    align-items: center;
    text-transform: none;
    font-size: 20px;
    font-weight: 700;
}

.site-logo {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    border-radius: 50%;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-light);
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
}

a:hover {
    color: var(--text-dark);
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.4s;
}

.profile-icon {
    width: 30px;
    height: 30px;
}

.container-artigos {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.artigo-box {
    background: white;
    max-width: 900px;
    width: 100%;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.08);
}

.artigo-box h1 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #222;
}

.capa-artigo {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

.artigo-box p {
    font-size: 18px;
    line-height: 1.7rem;
    white-space: pre-line;
}

.btn-editar-artigo {
    background: #FF6600;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s;
}

.btn-editar-artigo:hover {
    cursor: pointer;
}

.btn-excluir-artigo {
    background: red;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s;
}

.btn-excluir-artigo:hover {
    cursor: pointer;
}

.acoes-artigo {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

