@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
}

header{
    background-color: #FF6600;
    padding: 30px;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}

a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: "Lato", sans-serif;
    
    &:hover {
        color: black;
        transition: 0.7s;
    }
}

.profile-icon:hover{
    filter: invert();
    cursor: pointer;
    transition: 0.4s;
}

.container-artigos {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.artigo-box {
    background: white;
    max-width: 900px;
    width: 100%;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.08);
}

.artigo-box h1 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #222;
}

.capa-artigo {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

.artigo-box p {
    font-size: 18px;
    line-height: 1.7rem;
    white-space: pre-line;
}

.btn-editar-artigo {
    background: #FF6600;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s;
}

.btn-editar-artigo:hover {
    cursor: pointer;
}
